<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Taco Joes Rewards</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="email-container">
        <h1>Recover Your Account</h1>

        <p>You recently requested to reset your Taco Joes Rewards password. Use the temporary password provided below to log in to your account. Once logged in, please change your password. This temporary password will no longer be available after logging in.</p>
        
        <div class="password-container">
            <h1><%= mailOptionsAdditions.password %></h1>
        </div>
        
    </div>
    
    
</body>
</html>